<section id="auto-update">
  <mat-checkbox [(ngModel)]="autoUpdate">Автообновление списка приложений</mat-checkbox>
</section>

<mat-table [dataSource]="tableSource" class="mat-elevation-z8">
  <ng-container matColumnDef="userName">
    <mat-header-cell *matHeaderCellDef> Имя узла </mat-header-cell>
    <mat-cell *matCellDef="let app"> {{app.userName}} </mat-cell>
  </ng-container>
  <ng-container matColumnDef="date">
    <mat-header-cell *matHeaderCellDef> Дата последней статистики </mat-header-cell>
    <mat-cell *matCellDef="let app"> {{app.date}} </mat-cell>
  </ng-container>
  <ng-container matColumnDef="operationSystem">
    <mat-header-cell *matHeaderCellDef> Тип устройства </mat-header-cell>
    <mat-cell *matCellDef="let app"> {{app.operationSystem}} </mat-cell>
  </ng-container>
  <ng-container matColumnDef="appVersion">
    <mat-header-cell *matHeaderCellDef> Верися Client </mat-header-cell>
    <mat-cell *matCellDef="let app"> {{app.appVersion}} </mat-cell>
  </ng-container>
  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="select(row)"></mat-row>
</mat-table>
<router-outlet *ngIf="selectedApp" ></router-outlet>
