<!------------
<table class="table table-striped">
    <thead>
        <tr>
            <th>Имя узла</th>
            <th>Дата последней статистики</th>
            <th>Версия Client</th>
            <th>Тип устройства</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of identificationData">
            <td>{{item.userName}}</td>
            <td>{{item.statisticsDate}}</td>
            <td>{{item.appVersion}}</td>
            <td>{{item.operationSystem}}</td>
        </tr>
    </tbody>
</table>
-------------->

<mat-table [dataSource]="identificationData" class="mat-elevation-z8">
    <ng-container matColumnDef="userName">
        <mat-header-cell *matHeaderCellDef> Имя узла </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.userName}} </mat-cell>
    </ng-container>
    

    <ng-container matColumnDef="date">
        <mat-header-cell *matHeaderCellDef> Дата последней статистики </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.date}} </mat-cell>
    </ng-container>
    
    <ng-container matColumnDef="operationSystem">
        <mat-header-cell *matHeaderCellDef> Тип устройства </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.operationSystem}} </mat-cell>
    </ng-container>
  
    <ng-container matColumnDef="appVersion">
        <mat-header-cell *matHeaderCellDef> Верися Client </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.appVersion}} </mat-cell>
    </ng-container>
  
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
